body {
  background-color: var(--bg, white);
  color: var(--bg-text, black)
}
article {
  padding: 50px;
  font-family:'Montserrat', sans-serif;
 

}
article h2 {
  margin-top: 100px;
}

body img {
	float: right;
	margin: 10px;
}

